.mainText{
    position: relative;
    width: 600px;
    height: 50px;
    right: 0%;
    top: 100px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    
    color: #000000;
}
    
 .row {
  display: flex;
  }
 
li{
  display:block;
}
   
.subjectbtn{
   position: relative;
    width: 350px;
    height: 20px;
    padding: 10px;
    margin: 20px;
    left: 5%;
    top: 100px;
    display:block;
    
    background: #C4C4C4;
    border-radius: 29px;

    font-size: 26px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    color: black;
    text-decoration: none;
}

<form method = "POST" action
.subjectbtn:hover{
    cursor: pointer;
}