:root{
    --brightclr: #2edb70;
    --darkclr: #333333;
    --white: #fff;
    font-family: 'outfit', sans-serif, monospace;
}
.nav-container {
    background-color: var(--darkclr);
    width: 100%;
    height: 5rem;
    position: fixed;
    z-index: 1;
    font-weight: 700;
  }
  
  .navbar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #navbar-logo {
    position: relative;
    height: 4rem;
    left: 2rem;
  }
  
  .nav-menu {
    display: flex;
  }
  
  .nav-links {
    color: var(--white);
    text-decoration: none;
    padding: 15px 25px 15px 25px;
    border-radius: 40px;
  }
  
  .nav-links:hover {
    color: var(--darkclr);
    background-color: var(--brightclr);
    transition: all 0.2s ease-out;
  }

  .menu-toggle {
    position: absolute;
    top: 1.4rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 1.2rem;
    width: 1.5rem;
    cursor: pointer;
  }

  .menu-toggle:hover span:nth-child(2) {
    transform: translateX(10px);
    background-color: var(--brightclr);
  }
  
  .menu-toggle .bar {
    display: block;
    width: 100%;
    height: 0.2rem;
    background-color: var(--white);
    border-radius: 1rem;
  }

  .featured{
    height: 100vh;
    position: relative;
    width: 100%;

  }

  .mainText {
    padding-top:10rem;
    left: 5rem;
    width: 20%;
    position: relative;
    font-weight: bold;
    font-size: 72px;
    text-align: left;
    color: var(--darkclr);
  }

 .features svg{
    height: auto;
    width: 2.5rem;
}
svg path{
    fill:#6e6e6e;
    transition: all 0.3s ease;
}

.features{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    padding-top: 5rem;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    justify-content: space-between;

}
.icon{
    display: flex;
    transition: all .5s ease;
}
.text{
    padding-left: 1rem;
    color:#6e6e6e;
    transition: all 0.3s ease;
}
.text h4{
    font-weight: 300;
}

.icon:hover{
    cursor:default;
    transform: scale(1.05);
}
.icon:hover .text{
    color: #2edb70;
}
.icon:hover svg path{
    fill: #2edb70;
}

  .home-button{
    position: relative;
    left: 50%;
    top: 5rem;
    border-radius: 40px;
    padding: 15px 25px 15px 25px;
    cursor: pointer;
    font-weight: 700;
    border: 1px solid var(--brightclr);
    background-color: var(--white);
    transform: translate(-50%);
  }

  .home-button:hover{
    background-color: var(--brightclr);
    color: var(--white);
    transition: all 0.2s ease-out;
  }