:root{
    --brightclr: #2edb70;
    --darkclr: #333333;
    --white: #fff;
    height: 100%;
}

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    
}

/* .all{
    display: grid;
} */

html {
    scroll-behavior: smooth;
  }

.nav-container{
    position: fixed;
    /* display: none; */
    width: 100%;
    height: 10vh;
    background-color: var(--darkclr);
    box-shadow: 0px 2px 10px rgb(39, 39, 39);
    z-index: 999;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
}

.navbar{
    display: grid;
    grid-template-columns: 0.2fr auto 1fr;
    align-items: center;
    width: 100%;
    max-width: 2048px;
}

#navbar-logo{
    height: 80px;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(4, auto);
    list-style: none;
    text-align: center;
    justify-self:end;
}

.nav-menu li{
    padding:0px 5px 0px 5px;
}

.nav-links{
    color: var(--white);
    text-decoration: none;
    padding:15px 25px 15px 25px;
    
    border-radius: 40px;
}

.nav-links:hover{
    color: var(--darkclr);
    background-color: var(--brightclr);
    transition: all 0.2s ease-out;
}

.menu-toggle .bar{
    width:25px;
    height: 3px;
    border-radius: 3px;
    margin: 5px auto;
    transition: all .3 ease-in-out;
    background: var(--white);
    transition: all 0.2s ease;
   
}

.hero {
    width: 100%;
    background-size: cover;
    height: 100vh;
    padding-top: 30vh;
    background-color: rgb(235, 235, 235);
}

.hero_container{
    display: flex;
    justify-content: space-between;
    padding: 3vh;
    /* background-color:chartreuse; */
}
.rightContent{
    font-family: 'Outfit', sans-serif;
    padding: 03rem 0 3rem 3rem;
    
}

.welcomeText{
    font-size: 4rem;
    font-weight: 700;
}

.welcomeText span{
    color: var(--brightclr);
}

.sloganText{
    font-weight: 200;
    padding: 0.3rem 0rem 1.5rem 0rem;
    font-size: 2.5rem;
}

.leftContent{
    padding: rem 0 rem 0;
}

.buttons{
    padding-top: 1rem;
    font-size: 1rem;
    font-weight: 600;

}

.buttons .solid-btn{
    text-transform: uppercase;
    text-decoration: none;
    color: var(--white);
    padding: 15px 40px 15px 40px;
    margin-right: 3rem;
    background-color: var(--brightclr);
    border-radius: 30px;
    transition: all .2s ease-out;
}

.buttons .border-btn{
    text-transform: uppercase;
    text-decoration: none;
    color: var(--darkclr);
    padding: 15px 40px 15px 40px;
    margin-right: 3rem;
    border: 1px solid ;
    border-color: var(--brightclr);
    border-radius: 30px;
    transition: all .2s ease-out;
}

.buttons .solid-btn:hover{
    background-color: var(--darkclr);
    color: var(--brightclr);
}
.buttons .border-btn:hover{
    background-color: var(--brightclr);
    color: var(--white);
}

.leftContent{
    position: absolute;
    /* background-color: wheat; */
    right:5%;
    top: 25%;
}
.girl{
    position: relative;
    top: 0vh;
    height:45rem;
    width: auto;
}
.second{
    position: relative;
    background-color: var(--darkclr);
    top:0vh;
    height: 90vh;
    
}
.featuredTitle{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.courseText{
    position: relative;
    padding-top: 10vh;
    /* background-color: #2edb70; */
    text-align: center;
    
}

.courcesTitle{
    color: var(--white);
    font-size: 5rem;
    font-weight: 700;
}

.courcesTitle span{
    color: var(--brightclr);
}
.courseSlogan{
    color: var(--white);
    font-size: 2rem;
    font-weight: 300;
}
.courseDesc{
    color: var(--white);
    font-size: 2rem;
    font-weight: 100;
    padding: 3rem;
    color: var(--brightclr);
}

.featuredTitle{
    background-color:aqua;
    position: relative;
}
.images img{
    width: auto;
    height: 10rem;
}

.images{
    padding: 1rem 3rem 1rem 3rem;
    /* background-color: #2edb70; */
    transition: all 0.5s ease;
}
.featuredList{
    position: absolute;
    /* background-color: #fff; */
    left: 50%;
    transform: translate(-50%);
    display: grid;
    grid-template-columns: 0.2fr auto 3fr;
    
}

.images:hover{
    transform: scale(1.1);
}
    


/* 1920*1080  Resolution Settings */

@media screen and (min-width:1919px){
    .welcomeText{
        font-size: 5rem;
    }
    
    .sloganText{
        font-size: 1.9rem;
    }
}

/* 1366*768  Resolution Settings */

@media screen and (max-width:1366px){

    .nav-container{
        height: 14vh;
    }
    
    .welcomeText{
        font-size: 3rem;
    }
    
    .sloganText{
        font-size: 1.5rem;
    }

    .girl{
        height:30rem;
        width: auto;
    }
    .second{
        position: relative;
        background-color: var(--darkclr);
        top:0vh;
        height: 86vh;
    }
    .courseText{
        position: relative;
        padding-top: 8vh;
    }
    
    .courcesTitle{

        font-size: 3.5rem;
        font-weight: 700;
    }
    .courseSlogan{
        font-size: 1.5rem;

    }
    .courseDesc{
        font-size: 1.4rem;
        font-weight: 100;
        padding: 3rem;
        color: var(--brightclr);
    }
    
}

/*Mobile Responsive*/

@media screen and (max-width:700px){
    .nav-container{
        position: relative;
        
    }

    .nav-menu{
        display: grid;
        grid-template-columns: auto;
        background: var(--darkclr);
        margin: 0;
        width: 100%;
        position: absolute;
        top: 88px;
        right: -105%;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        /* opacity: 0; */
        box-shadow: 0px 10px 10px grey;
        transition: all 0.5s ease;
    }

    #navbar-logo{
        margin-left: 20px;
    }

    .nav-menu.active{
        background: var(--darkclr);
        right: 0;
        /* opacity: 1; */
        transform: all .5 ease;
    }

    .nav-links{
        text-align: center;
        line-height:80px;
        width: 100%;
        display: inline;

    }
    .nav-menu li:hover{
        background: var(--brightclr);
        transition: 0.2s ease-out;
        
    }

    .nav-menu li{
        border-radius:30px;
    }

    .nav-links{
        padding:0;
        border-radius: 0;
        transition: all .4 ease-out;
    }

    .nav-links:hover{
        border: none;
        padding: 0;
        transition: all .4 ease-out;

    }

    #mobile-menu{
        position: absolute;
        top: 25%;
        right: 5%;
        transform:translate(5%,20%);
    
        
    }

    .menu-toggle .bar{
        display: block;
        
        
    }

    .menu-toggle{
        cursor: pointer;
    }

    .menu-toggle:hover span:nth-child(2){
        transform: translateX(10px);
        background-color: var(--brightclr);
        
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform:translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform:translateY(-8px) rotate(-45deg);
    }
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

}

