* {
    box-sizing:border-box;
}

body{
    margin:0;
    padding:0;
}

.LOGO a{
    padding: 1rem;
    
}
.navbar{
    display: flex;
    justify-content:  space-between;
    align-items: center;
    background-color: #333;
}

.navbarLinks ul{
    margin: 0;
    padding: 0 1rem;
    display: flex;
}

.navbarLinks li{
    list-style: none;
}

.navbarLinks a{
    text-decoration: none;
    color: white;
    padding: 2rem;
    display: block;
    font-family:"Righteous";
}

.navbarLinks li:hover{
    background-color: rgb(66, 66, 66);
    transition: .3s;
    
}

.navbarLinks a:hover{
    color: turquoise;
    
}

.Description{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 150%;
    line-height: 200%;
}

.toggle-button{
    position: absolute;
    top: 3rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width:100%;
    background-color: white;
    border-radius:10px;
    
}


@media(max-width:600px){
    .toggle-button{
        display: flex;
        transition:all 5 ease-in-out;
    }
    
    .navbarLinks{
        /*display: none;*/
        width: 100%;
    }

    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbarLinks ul{
        width: 100%;
        flex-direction: column;
    }

    .navbarLinks a{
        padding: 1rem ;
    }

    .navbarLinks li{
        text-align: center;
    }

}